interstellar-transport-system/src/main/resources/its.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://musecs.com/its/shortest-path" elementFormDefault="qualified">

	<xs:element name="getShortestPathRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="destination" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getShortestPathResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="path" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>